<mat-card>
  <div mat-card-title>Hello world!</div>

  <button mat-flat-button color="primary" (click)="loadCustomData()">Fetch some data from a custom table using generic API...</button>

  <mat-spinner *ngIf="busy"></mat-spinner>

  <div *ngIf="!busy && totalCount > 0">
    <div>There are {{ totalCount }} Data in the custom table. The first entries are:</div>
    <ul>
      <li *ngFor="let entry of customEntries">
        {{ entry.GetEntity().GetDisplay() }}
      </li>
    </ul>
  </div>
</mat-card>
